<ion-header>
  <ion-toolbar>
    <ion-title>
      Segmentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" scrollable>
      <ion-segment-button value="0">
        <ion-label name="UNO">UNO</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label name="DOS">DOS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label name="TRES">TRES</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label name="CUATRO">CUATRO</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
    <ion-slide>
      PRIMER SLIDE
    </ion-slide>
    <ion-slide>
      SEGUNDO SLIDE
    </ion-slide>
    <ion-slide>
      TERCER SLIDE
    </ion-slide>
    <ion-slide>
      CUARTO SLIDE
    </ion-slide>
  </ion-slides>

</ion-content>


